@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lora:wght@400;700&display=swap');

.navbar {
  background-color: #e0f7fa;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  flex: 1;
}

.navbar-logo {
  height: 100px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  flex: 2;
  justify-content: center;
}

.navbar-menu li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.navbar-menu li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #0288d1;
}

.navbar-login {
  flex: 1;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.navbar-login a {
  text-decoration: none;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s ease;
}

.navbar-login a:hover {
  color: #0288d1;
}
